<a href="<%= payment_checkout_orders_checkout_url @checkout.order, :integration_id => integration %>" style="text-align: center;">
  <img src="http://www.paymentexpress.com/images/logos_white/paymentexpress_png" align="left" style="margin-right:7px;"/>
</a>
